/* ----------------- Class CSS ----------------- */
:root {
    --main-theme-color: #CC9129;
    --secondary-theme-color: #986C1E;
    overflow-x: hidden;
}
.about{
    width:400px;
    margin: auto;
}

.about-team{
    color:rgb(82, 81, 81)
}

.authors{
    background-color: #dbe3e7;
}

.body{
    background-color: #FFFFFF;
}

.chartjs-sample{
    background-color: #8fa3ab;
}

.footer{                
    background-color: var(--main-theme-color);
}

.icon-white{            /* Arrow icon at bottom of page */
    color: #FFFFFF;
}

.nav-background-color{   /* navbar background color */
    background-color: var(--main-theme-color);
}

.nav-menu-item{               /* navbar link text properties */
    font-size:25px;
    margin-left: 10px;
    margin-right: 10px;
}

.nav-link {
    color: white;
}
.nav-link:hover {
    color: var(--secondary-theme-color);
}

.opacity-90{
    opacity: 0.9;
}

.overview{
    background-color: #dbe3e7;
}

.overview-left-padding{
    padding-left: 20px;
}

.overview-right-padding{  
    padding-right: 20px;
}

.procedure{
    background-color: #dbe3e7;
    padding: 1px;
}

.showcase{
    background-color: var(--main-theme-color); /*#0096c7*/
}

/* ----------------- ID CSS ----------------- */

/* -----------------Underline Animation CSS -----------------*/
#chart-wrapper{
    margin: auto;
    padding: 10px; 
    min-height: 400px;
    background-color: whitesmoke !important;
    justify-content: center;
    align-items: center;  
}



.hover-underline-animation {
    display: inline-block;
    position: relative;
    /*color: #0087ca;*/
  }
  
.hover-underline-animation::after {
    content: '';
    position: absolute;
    width: 100%;
    transform: scaleX(0);
    height: 2px;
    bottom: 0;
    left: 0;
    background-color: white;
    /*transform-origin: bottom right;*/
    transition: transform 0.35s ease-out, background-color 0.35s ease-out 0.1s;
}
  
.hover-underline-animation:hover::after {
    transform: scaleX(1);
    background-color: var(--secondary-theme-color);
    /*transform-origin: bottom left;*/
}

.slideFromLeft {
    animation: slideFromLeft 3s;
}

.slideFromRight {
    animation: slideFromRight 3s;
}

.fadeIn {
    animation: fadeIn 3s ease-in-out 0.5s;
    animation-fill-mode: backwards;
}

.border-radius {
    border-radius: 20px;
}

.about {
    transform: scale(1);
    transition: transform 0.35s;
}

.about:hover {
    transform: scale(1.1);
}

@keyframes slideFromLeft {
    from {
        transform: translateX(-100%);
        opacity: 0;
    }
    to {
        transform: translateX(0%);
        opacity: 1;
    }
}

@keyframes slideFromRight {
    from {
        transform: translateX(100%);
        opacity: 0;
    }
    to {
        transform: translateX(0%);
        opacity: 1;
    }
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}
